[FORMAT]
indent-string='    '
max-line-length=120

[BASIC]
function-naming-style=snake_case
argument-naming-style=snake_case
variable-naming-style=snake_case
method-naming-style=snake_case
attr-naming-style=snake_case
class-naming-style=PascalCase

[MESSAGES CONTROL]
disable=useless-object-inheritance

[DESIGN]
max-args=10
max-locals=40