[FORMAT]
indent-string='    '
max-line-length=100

[BASIC]
function-naming-style=camelCase
argument-naming-style=camelCase
variable-naming-style=camelCase
method-naming-style=camelCase
attr-naming-style=camelCase

[MESSAGES CONTROL]
disable=missing-docstring,useless-object-inheritance